.overlay {
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url("../static/img/landscape-tree-forest-grass-sky-texture-1410057-pxhere.com-min_compressed.jpg");
    background-size: cover;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlayContent {
    position: relative;
    top: 40%;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.seebtn {
    position: relative;
    top: 60%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    outline: none;
    width: 250px;
    height: 45px;
    line-height: 40px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 2px;
    display: block;
    float: none;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0px!important;
    font-size: 14px;
    color: #fff;
 }

.seebtn:hover  {
     color: #fff;
     background: rgba(255, 255, 255, 0.075);
 }

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}