  form {
    margin: auto;
    margin-top: 30px;
  }
  form input,
  form textarea {
    font: inherit;
    padding: 5px 5px;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 15px;
    box-sizing: border-box;
    word-break: break-word;
    resize: vertical;
    }
  
  form button {
    font-size: 14px;
    position: relative;
    overflow: hidden;
    outline: none;
    width: 130px;
    line-height: 40px;
    background-color: transparent;
    border: 2px solid rgba(48, 48, 48, 0.63);
    border-radius: 2px;
    display: block;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    padding: 0px!important;
    font-size: 12px;
    color: rgba(37, 37, 37, 0.63);
    margin: 20px 0 0 0;
  }
  form label {
    color: #777;
    font-size: 14px;
    margin-bottom: 2px;
    display: block;
  }

  form button:hover {
    color: rgba(48, 48, 48, 0.63);
    background: rgba(129, 129, 129, 0.075);
 }